body {
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
    margin-top: 5px;
}

.content {
    border: 2px grey solid;
    max-width: 700px;
    padding: 20px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 20px;
}

.container {
    padding-left: 50px;
}

h2 {
    margin-top: 0;
}

button {
    background-color: #3B71CA;
    color: white;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    border-radius: 10px;
}